In [70]:
from bs4 import BeautifulSoup
import requests

url = "http://web.archive.org/web/20110514112442/http://unstats.un.org/unsd/demographic/products/socind/education.htm"

r = requests.get(url)

In [71]:
import pandas as pd
soup = BeautifulSoup(r.content)
soup = soup('table')[6]
df = pd.DataFrame(columns=['Country','Year','Total','Men','Women'])
j = 0
for i in soup.findAll('tr')[8:-11]:
    col = i.findAll('td')
    #print col[0].text
    #print col[1].text
    #print col[4].text
    #print col[7].text
    #print col[10].text
    df.loc[j] = [col[0].text,col[1].text,col[4].text,col[7].text,col[10].text]
    j += 1

In [72]:
df.set_index('Country',inplace=True)

In [73]:
df

                                                    Year Total Men Women
Country
Afghanistan                                         2004     8  11     5
Albania                                             2004    11  11    11
Algeria                                             2005    13  13    13
Andorra                                             2008    11  11    12
Anguilla                                            2008    11  11    11
Antigua and Barbuda                                 2000    14  12    16
Argentina                                           2007    16  15    17
Armenia                                             2009    12  12    13
Aruba                                               2009    13  13    13
Australia                                           2008    21  20    21
Austria                                             2008    15  15    15
Azerbaijan                                          2008    13  13    13
Bahrain                                             2006    14  14    15
Bangladesh                                          2007     8   8     8
Belarus                                             2007    15  14    15
Belgium                                             2008    16  16    16
Belize                                              2009    12  12    13
Benin                                               2001     9  10     6
Bermuda                                             2006    12  12    12
Bhutan                                              2008    11  11    11
Bolivia (Plurinational State of)                    2007    14  14    14
Bosnia and Herzegovina                              2009    14  13    14
Botswana                                            2006    12  12    12
Brazil                                              2008    14  14    14
British Virgin Islands                              2005    17  15    19
Brunei Darussalam                                   2009    14  14    14
Bulgaria                                            2008    14  13    14
Burkina Faso                                        2009     6   7     6
Burundi                                             2006    10   8     7
Cambodia                                            2007    10  10     9
...                                                  ...   ...  ..   ...
Solomon Islands                                     2006     9   9     9
Spain                                               2008    16  16    17
Suriname                                            2002    12  11    13
Swaziland                                           2006    10  11    10
Sweden                                              2008    16  15    16
Switzerland                                         2008    15  16    15
Tajikistan                                          2008    11  12    10
Thailand                                            2009    12  12    13
TFYR of Macedonia                                   2008    13  13    13
Tokelau                                             2004    13  12    15
Tonga                                               2004    14  14    14
Trinidad and Tobago                                 2005    11  11    12
Tunisia                                             2008    15  14    15
Turkey                                              2008    12  12    11
Turks and Caicos Islands                            2005    11  11    12
Tuvalu                                              2001    11  10    11
Uganda                                              2008    10  11    10
Ukraine                                             2008    15  14    15
United Arab Emirates                                2003    11  11    12
United Kingdom of Great Britain and Northern Ir...  2008    16  16    17
United Republic of Tanzania                         1999     5   5     5
United States of America                            2008    16  15    17
Uruguay                                             2008    16  14    17
Uzbekistan                                          2009    11  12    11
Vanuatu                                             2004    10  11    10
Venezuela (Bolivarian Republic of)                  2008    14  13    15
Viet Nam                                            2001    10  11    10
Yemen                                               2005     9  11     7
Zambia                                              2000     7   8     7
Zimbabwe                                            2003     9   9     9

[183 rows x 4 columns]

In [74]:
import numpy as np
df['Men'] = df['Men'].astype(np.int64)
df['Women'] = df['Women'].astype(np.int64)
df['Total'] = df['Total'].astype(np.int64)

In [75]:
import sqlite3 as lite

con = lite.connect('education.db')
cur = con.cursor()

df.reset_index()

df.to_sql(con=con, name='school_life', if_exists='replace', flavor='sqlite')

In [87]:
import csv

con = lite.connect('gdp.db')
cur = con.cursor()

with open('37471cbd-1b7d-43a0-ba94-e55c3c7fc0a5_v2.csv','rU') as inputFile:
    next(inputFile) # skip the first 3 lines
    next(inputFile)
    next(inputFile)
    header = next(inputFile)
    inputReader = csv.reader(inputFile)
    columns = next(inputReader)[43:-5]  
    columns = ["country_name"] + ["_" + year for year in columns]
    inputs = ["country_name TEXT"] + [column + " NUMERIC" for column in columns[1:]]
    cur.execute("DROP TABLE IF EXISTS gdp")
    cur.execute("CREATE TABLE gdp " + "(" + ", ".join(inputs) + ")")
    for line in inputReader:
        with con:
            country = line[0]
            gdp_vals = line[43:-5]
            
            cur.execute("INSERT INTO gdp " + "(" + ", ".join(columns) + ") " +
                        'VALUES ("' + country + '","' + '","'.join(gdp_vals) + '");')

In [88]:
gdp_df = pd.read_sql_query("SELECT * FROM gdp ORDER BY country_name", con, index_col = "country_name")
gdp_df.head()

,_1999,_2000,_2001,_2002,_2003,_2004,_2005,_2006,_2007,_2008,_2009,_2010,_2011
country_name,,,,,,,,,,,,,
Afghanistan,,,2.46167e+09,4.12882e+09,4.58365e+09,5.28546e+09,6.27508e+09,7.0576e+09,9.84384e+09,1.01905e+10,1.24869e+10,1.59368e+10,1.79302e+10
Albania,3.41476e+09,3.63204e+09,4.06076e+09,4.43508e+09,5.74695e+09,7.31487e+09,8.15855e+09,8.99264e+09,1.0701e+10,1.28814e+10,1.20442e+10,1.1927e+10,1.28909e+10
Algeria,4.86406e+10,5.47901e+10,5.47447e+10,5.67603e+10,6.78638e+10,8.5325e+10,1.03198e+11,1.17027e+11,1.34977e+11,1.71001e+11,1.37211e+11,1.61207e+11,2.00013e+11
American Samoa,,,,,,,,,,,,,
Andorra,1.23984e+09,1.40169e+09,1.484e+09,1.71756e+09,2.37384e+09,2.91691e+09,3.24813e+09,3.53645e+09,4.01079e+09,4.00135e+09,3.64986e+09,3.34632e+09,3.42724e+09