In [44]:
from bs4 import BeautifulSoup
import requests

url = "http://web.archive.org/web/20110514112442/http://unstats.un.org/unsd/demographic/products/socind/education.htm"

r = requests.get(url)

In [45]:
import pandas as pd
soup = BeautifulSoup(r.content)
soup = soup('table')[6]
df = pd.DataFrame(columns=['Country','Year','Total','Men','Women'])
j = 0
for i in soup.findAll('tr')[8:-11]:
    col = i.findAll('td')
    #print col[0].text
    #print col[1].text
    #print col[4].text
    #print col[7].text
    #print col[10].text
    df.loc[j] = [col[0].text,col[1].text,col[4].text,col[7].text,col[10].text]
    j += 1

In [46]:
df.set_index('Country',inplace=True)

In [4]:
import numpy as np
df['Men'] = df['Men'].astype(np.int64)
df['Women'] = df['Women'].astype(np.int64)
df['Total'] = df['Total'].astype(np.int64)

In [47]:
df

                                                    Year Total Men Women
Country
Afghanistan                                         2004     8  11     5
Albania                                             2004    11  11    11
Algeria                                             2005    13  13    13
Andorra                                             2008    11  11    12
Anguilla                                            2008    11  11    11
Antigua and Barbuda                                 2000    14  12    16
Argentina                                           2007    16  15    17
Armenia                                             2009    12  12    13
Aruba                                               2009    13  13    13
Australia                                           2008    21  20    21
Austria                                             2008    15  15    15
Azerbaijan                                          2008    13  13    13
Bahrain                                             2006    14  14    15
Bangladesh                                          2007     8   8     8
Belarus                                             2007    15  14    15
Belgium                                             2008    16  16    16
Belize                                              2009    12  12    13
Benin                                               2001     9  10     6
Bermuda                                             2006    12  12    12
Bhutan                                              2008    11  11    11
Bolivia (Plurinational State of)                    2007    14  14    14
Bosnia and Herzegovina                              2009    14  13    14
Botswana                                            2006    12  12    12
Brazil                                              2008    14  14    14
British Virgin Islands                              2005    17  15    19
Brunei Darussalam                                   2009    14  14    14
Bulgaria                                            2008    14  13    14
Burkina Faso                                        2009     6   7     6
Burundi                                             2006    10   8     7
Cambodia                                            2007    10  10     9
...                                                  ...   ...  ..   ...
Solomon Islands                                     2006     9   9     9
Spain                                               2008    16  16    17
Suriname                                            2002    12  11    13
Swaziland                                           2006    10  11    10
Sweden                                              2008    16  15    16
Switzerland                                         2008    15  16    15
Tajikistan                                          2008    11  12    10
Thailand                                            2009    12  12    13
TFYR of Macedonia                                   2008    13  13    13
Tokelau                                             2004    13  12    15
Tonga                                               2004    14  14    14
Trinidad and Tobago                                 2005    11  11    12
Tunisia                                             2008    15  14    15
Turkey                                              2008    12  12    11
Turks and Caicos Islands                            2005    11  11    12
Tuvalu                                              2001    11  10    11
Uganda                                              2008    10  11    10
Ukraine                                             2008    15  14    15
United Arab Emirates                                2003    11  11    12
United Kingdom of Great Britain and Northern Ir...  2008    16  16    17
United Republic of Tanzania                         1999     5   5     5
United States of America                            2008    16  15    17
Uruguay                                             2008    16  14    17
Uzbekistan                                          2009    11  12    11
Vanuatu                                             2004    10  11    10
Venezuela (Bolivarian Republic of)                  2008    14  13    15
Viet Nam                                            2001    10  11    10
Yemen                                               2005     9  11     7
Zambia                                              2000     7   8     7
Zimbabwe                                            2003     9   9     9

[183 rows x 4 columns]

In [36]:
import sqlite3 as lite

con = lite.connect('education.db')
cur = con.cursor()

df.reset_index()

df.to_sql(con=con, name='school_life', if_exists='replace', flavor='sqlite')

In [41]:
import csv

#con = lite.connect('gdp.db')
#cur = con.cursor()

with open('37471cbd-1b7d-43a0-ba94-e55c3c7fc0a5_v2.csv','rU') as inputFile:
    next(inputFile) # skip the first 3 lines
    next(inputFile)
    next(inputFile)
    header = next(inputFile)
    inputReader = csv.reader(inputFile)
    columns = next(inputReader)[43:-5]  
    columns = ["country_name"] + ["_" + year for year in columns]
#    print columns
    inputs = ["country_name TEXT"] + [column + " NUMERIC" for column in columns[1:]]
#    print inputs
    cur.execute("DROP TABLE IF EXISTS gdp")
    cur.execute("CREATE TABLE gdp " + "(" + ", ".join(inputs) + ")")
    for line in inputReader:
        with con:
            country = line[0]
            gdp_vals = line[43:-5]
            
            cur.execute("INSERT INTO gdp " + "(" + ", ".join(columns) + ") " +
                        'VALUES ("' + country + '","' + '","'.join(gdp_vals) + '");')

In [42]:
gdp_df = pd.read_sql_query("SELECT * FROM gdp ORDER BY country_name", con)
#, index_col = "country_name")
#gdp_df.head()

In [43]:
gdp_df.dtypes
gdp_df2 = pd.melt(gdp_df, id_vars=["country_name"], var_name="Year", value_name="gdp")

In [24]:
gdp_df2

                  country_name   Year             gdp
0                  Afghanistan  _1999
1                      Albania  _1999     3.41476e+09
2                      Algeria  _1999     4.86406e+10
3               American Samoa  _1999
4                      Andorra  _1999     1.23984e+09
5                       Angola  _1999     6.15294e+09
6          Antigua and Barbuda  _1999     6.51852e+08
7                   Arab World  _1999     6.40059e+11
8                    Argentina  _1999    283523000000
9                      Armenia  _1999     1.84548e+09
10                       Aruba  _1999      1.7228e+09
11                   Australia  _1999     3.88672e+11
12                     Austria  _1999     2.16725e+11
13                  Azerbaijan  _1999     4.58122e+09
14                Bahamas, The  _1999      6019972000
15                     Bahrain  _1999     6.62101e+09
16                  Bangladesh  _1999     5.12706e+10
17                    Barbados  _1999     3.01198e+09
18                     Belarus  _1999     1.21385e+10
19                     Belgium  _1999     2.60202e+11
20                      Belize  _1999     7.32732e+08
21                       Benin  _1999     2.68979e+09
22                     Bermuda  _1999      3324433000
23                      Bhutan  _1999     4.19036e+08
24                     Bolivia  _1999     8.28508e+09
25      Bosnia and Herzegovina  _1999     4.68573e+09
26                    Botswana  _1999     5.48426e+09
27                      Brazil  _1999     6.01905e+11
28           Brunei Darussalam  _1999      4600000000
29                    Bulgaria  _1999     1.34951e+10
...                        ...    ...             ...
3194      Syrian Arab Republic  _2011
3195                Tajikistan  _2011     6.52276e+09
3196                  Tanzania  _2011     3.38786e+10
3197                  Thailand  _2011     3.70609e+11
3198               Timor-Leste  _2011      1138000000
3199                      Togo  _2011     3.75602e+09
3200                     Tonga  _2011     4.41233e+08
3201       Trinidad and Tobago  _2011     2.44098e+10
3202                   Tunisia  _2011      4.5877e+10
3203                    Turkey  _2011     7.74754e+11
3204              Turkmenistan  _2011     2.92333e+10
3205  Turks and Caicos Islands  _2011
3206                    Tuvalu  _2011      3.9312e+07
3207                    Uganda  _2011     2.02629e+10
3208                   Ukraine  _2011      1.6316e+11
3209      United Arab Emirates  _2011     3.48526e+11
3210            United Kingdom  _2011      2.5949e+12
3211             United States  _2011  15517926000000
3212       Upper middle income  _2011     1.59654e+13
3213                   Uruguay  _2011     4.79624e+10
3214                Uzbekistan  _2011     4.53243e+10
3215                   Vanuatu  _2011      7.9215e+08
3216             Venezuela, RB  _2011     3.16482e+11
3217                   Vietnam  _2011     1.35539e+11
3218     Virgin Islands (U.S.)  _2011
3219        West Bank and Gaza  _2011     10465400000
3220                     World  _2011     7.26596e+13
3221               Yemen, Rep.  _2011     3.10789e+10
3222                    Zambia  _2011     2.37317e+10
3223                  Zimbabwe  _2011     10956226600

[3224 rows x 3 columns]

In [19]:
#get list of countries for which we have both data on GDP and life expectancy
ed_country_list = df.index.values.tolist()
gdp_country_list = gdp_df[gdp_df != ""].dropna().index.values.tolist()
country_list = list(set(ed_country_list).intersection(gdp_country_list))

In [20]:
gdp_country_list

[u'Albania',
 u'Algeria',
 u'Andorra',
 u'Angola',
 u'Antigua and Barbuda',
 u'Arab World',
 u'Argentina',
 u'Armenia',
 u'Aruba',
 u'Australia',
 u'Austria',
 u'Azerbaijan',
 u'Bahamas, The',
 u'Bahrain',
 u'Bangladesh',
 u'Barbados',
 u'Belarus',
 u'Belgium',
 u'Belize',
 u'Benin',
 u'Bermuda',
 u'Bhutan',
 u'Bolivia',
 u'Bosnia and Herzegovina',
 u'Botswana',
 u'Brazil',
 u'Brunei Darussalam',
 u'Bulgaria',
 u'Burkina Faso',
 u'Burundi',
 u'Cabo Verde',
 u'Cambodia',
 u'Cameroon',
 u'Canada',
 u'Caribbean small states',
 u'Central African Republic',
 u'Central Europe and the Baltics',
 u'Chad',
 u'Chile',
 u'China',
 u'Colombia',
 u'Comoros',
 u'Congo, Dem. Rep.',
 u'Congo, Rep.',
 u'Costa Rica',
 u"Cote d'Ivoire",
 u'Croatia',
 u'Cuba',
 u'Cyprus',
 u'Czech Republic',
 u'Denmark',
 u'Djibouti',
 u'Dominica',
 u'Dominican Republic',
 u'East Asia & Pacific (all income levels)',
 u'East Asia & Pacific (developing only)',
 u'Ecuador',
 u'Egypt, Arab Rep.',
 u'El Salvador',
 u'Equatorial Guinea',
 u'Eritrea',
 u'Estonia',
 u'Ethiopia',
 u'Euro area',
 u'Europe & Central Asia (all income levels)',
 u'Europe & Central Asia (developing only)',
 u'European Union',
 u'Faeroe Islands',
 u'Fiji',
 u'Finland',
 u'Fragile and conflict affected situations',
 u'France',
 u'Gabon',
 u'Gambia, The',
 u'Georgia',
 u'Germany',
 u'Ghana',
 u'Greece',
 u'Grenada',
 u'Guatemala',
 u'Guinea',
 u'Guinea-Bissau',
 u'Guyana',
 u'Haiti',
 u'Heavily indebted poor countries (HIPC)',
 u'High income',
 u'High income: OECD',
 u'High income: nonOECD',
 u'Honduras',
 u'Hong Kong SAR, China',
 u'Hungary',
 u'Iceland',
 u'India',
 u'Indonesia',
 u'Iran, Islamic Rep.',
 u'Ireland',
 u'Israel',
 u'Italy',
 u'Jamaica',
 u'Japan',
 u'Jordan',
 u'Kazakhstan',
 u'Kenya',
 u'Kiribati',
 u'Korea, Rep.',
 u'Kuwait',
 u'Kyrgyz Republic',
 u'Lao PDR',
 u'Latin America & Caribbean (all income levels)',
 u'Latin America & Caribbean (developing only)',
 u'Latvia',
 u'Least developed countries: UN classification',
 u'Lebanon',
 u'Lesotho',
 u'Liberia',
 u'Libya',
 u'Liechtenstein',
 u'Lithuania',
 u'Low & middle income',
 u'Low income',
 u'Lower middle income',
 u'Luxembourg',
 u'Macao SAR, China',
 u'Macedonia, FYR',
 u'Madagascar',
 u'Malawi',
 u'Malaysia',
 u'Maldives',
 u'Mali',
 u'Malta',
 u'Marshall Islands',
 u'Mauritania',
 u'Mauritius',
 u'Mexico',
 u'Micronesia, Fed. Sts.',
 u'Middle East & North Africa (all income levels)',
 u'Middle East & North Africa (developing only)',
 u'Middle income',
 u'Moldova',
 u'Monaco',
 u'Mongolia',
 u'Morocco',
 u'Mozambique',
 u'Namibia',
 u'Nepal',
 u'Netherlands',
 u'New Zealand',
 u'Nicaragua',
 u'Niger',
 u'Nigeria',
 u'North America',
 u'Norway',
 u'OECD members',
 u'Oman',
 u'Other small states',
 u'Pacific island small states',
 u'Pakistan',
 u'Palau',
 u'Panama',
 u'Papua New Guinea',
 u'Paraguay',
 u'Peru',
 u'Philippines',
 u'Poland',
 u'Portugal',
 u'Puerto Rico',
 u'Qatar',
 u'Romania',
 u'Russian Federation',
 u'Rwanda',
 u'Samoa',
 u'Saudi Arabia',
 u'Senegal',
 u'Serbia',
 u'Seychelles',
 u'Sierra Leone',
 u'Singapore',
 u'Slovak Republic',
 u'Slovenia',
 u'Small states',
 u'Solomon Islands',
 u'South Africa',
 u'South Asia',
 u'Spain',
 u'Sri Lanka',
 u'St. Kitts and Nevis',
 u'St. Lucia',
 u'St. Vincent and the Grenadines',
 u'Sub-Saharan Africa (all income levels)',
 u'Sub-Saharan Africa (developing only)',
 u'Sudan',
 u'Suriname',
 u'Swaziland',
 u'Sweden',
 u'Switzerland',
 u'Tajikistan',
 u'Tanzania',
 u'Thailand',
 u'Togo',
 u'Tonga',
 u'Trinidad and Tobago',
 u'Tunisia',
 u'Turkey',
 u'Turkmenistan',
 u'Tuvalu',
 u'Uganda',
 u'Ukraine',
 u'United Arab Emirates',
 u'United Kingdom',
 u'United States',
 u'Upper middle income',
 u'Uruguay',
 u'Uzbekistan',
 u'Vanuatu',
 u'Venezuela, RB',
 u'Vietnam',
 u'West Bank and Gaza',
 u'World',
 u'Yemen, Rep.',
 u'Zambia',
 u'Zimbabwe']